/*
© Sonnelia, design and code. All rights reserved.
Do not redistribute or edit without obtaining explicit permission
Last updated 15 JUL 2025
*/

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lexend:wght@100..900&display=swap');

:root {
  --white: #ECECEC;
  --black: #121212;
  --gray: #ECECEC99;
  --glow: 0 0 5px #ececec43;
  --gradient: transparent, var(--white);
  --font: Lexend;
  --font-link: Bodoni Moda;
  --transition: all 500ms cubic-bezier(0.69, 0, 0.27, 1);

  --bg-position: 0px;
  --border-position: 0vh;
  --intro-line: 0px;
  --assets-line: 0px;
  --illustration-line: 0px;
  --info-line: 0px;
  --tos-line: 0px;
  --contact-line: 0px;
  --zoom-paragraph-height: 0px;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--white);
  color: var(--black);
  text-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  cursor: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
}

img {
  user-select: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  color: var(--white);
  font-family: var(--font);
  background-color: var(--black);
  letter-spacing: 0.05em;
  line-height: 1.4em;
  font-size: 13px;
  font-weight: 300;
  text-transform: lowercase;
}

header:before {
  content: '';
  transition: var(--transition);
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

a {
  color: var(--gray);
  font-family: var(--font-link);
  text-decoration: none;
  transition: var(--transition);
  letter-spacing: 0.2em;
  fill: var(--gray);
  stroke: var(--gray);
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
}

a.active, a:hover {
  color: var(--white);
  fill: var(--white);
  stroke: var(--white);
  filter: drop-shadow(var(--glow)) drop-shadow(var(--glow));
}

p a {
  font: revert;
  letter-spacing: revert;
}

p {
  padding: 4px 0;
}



/* --- CURSOR --- */

#cursor {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  background-color: var(--white);
  border: 1px solid var(--white);
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: background-color 500ms, width 500ms, height 500ms cubic-bezier(0.40, -0.3, 0, 0.90);
  backdrop-filter: blur(5px);
}

#cursor.hover {
  background-color: #1212121a;
}



/* --- BORDERS --- */

#border {
  position: fixed;
  top: 0;
  left: 5px;
  height: 100%;
  width: 1px;
  z-index: 100;
  background: linear-gradient(to bottom, transparent calc(100% - var(--border-position) - 100vh), var(--white) calc(100% - var(--border-position)), transparent calc(100% - var(--border-position) + 100vh));
}



/* --- NOISE --- */

.noise {
  position: fixed;
  pointer-events: none;
  background-image: url(../img/bg/noise1.gif);
  image-rendering: pixelated;
  mix-blend-mode: soft-light;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}



/* --- SHADE --- */

.shade {
  position: fixed;
  left: 0;
  top: 0;
  height: 75px;
  width: 100vw;
  z-index: 98;
  mask: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.9;
  background-image: url(../img/bg/noise.gif);
  mix-blend-mode: darken;
  backdrop-filter: blur(7px);
  pointer-events: none;
}



/* --- NAVS --- */

nav {
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
}

nav a {
  padding: 10px;
}

.nav-top svg {
  margin: 0px 30px;
}

.nav-desktop {
  display: inline-flex;
  align-items: center;
  transition: var(--transition);
}

.nav-side {
  right: 0px;
  flex-direction: column;
  align-items: flex-end;
  transition: var(--transition);
}

.nav-side svg {
  margin: 0 20px;
}

.nav-side a {
  display: flex;
  align-items: center;
  color: transparent;
}

.nav-side a:hover {
  color: revert;
}

.nav-progress {
  left: calc(100vw - 49px);
  top: 100px;
  height: 24px;
  display: flex;
  overflow: hidden;
  letter-spacing: 0.2em;
  transform: rotate(90deg);
  transform-origin: bottom left;
  z-index: 50;
}

.nav-progress p {
  padding: 0 30px;
  padding-bottom: 1px;
  font-family: var(--font-link);
  letter-spacing: 0.2em;
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
  white-space: nowrap;
}

.progress-line {
  background: linear-gradient(to left, var(--gradient));
  height: 1px;
  width: 100%;
}

.progress-lines {
  display: flex;
  align-items: center;
  overflow: hidden;
}

#intro-line {
  width: var(--intro-line);
}

#assets-line {
  width: var(--assets-line);
}

#illustration-line {
  width: var(--illustration-line);
}

#info-line {
  width: var(--info-line);
}

#tos-line {
  width: var(--tos-line);
}

#contact-line {
  width: var(--contact-line);
}



/* --- FOOTER --- */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 65px;
}

.links {
  margin-left: 105px;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.links div {
  display: flex;
}

.links a {
  padding: 4px 8px;
}

.legal {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  width: 80px;
  margin-right: 25px;
}



/* --- BODY --- */

.separator {
  height: 20px;
  width: 1px;
  background: linear-gradient(to bottom, var(--gradient));
  margin: 0 20px;
}

.section {
  width: 100%;
  position: relative;
  padding: 0px 50px;
}

.section::before {
  content: "";
  background-repeat: repeat;
  background-position: top;
  background-size: auto 100vh;
  image-rendering: pixelated;
  position: absolute;
  z-index: -99;
  top: var(--bg-position);
  width: 100%;
  height: 100%;
  opacity: 0.6;
  left: 0;
}

.divider {
  height: 80px;
  margin-bottom: 30px;
  width: calc(100vw - 100px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.divider p {
  font-family: var(--font-link);
  letter-spacing: 0.2em;
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
}



/* --- INTRO --- */

#intro {
  height: 100vh;
}

#intro::before {
  background-image: url(../img/bg/star3.png);
}

#intro::after {
  content: "";
  background-position: top;
  image-rendering: pixelated;
  position: absolute;
  z-index: -99;
  top: var(--bg-position);
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/intro.png);
  background-repeat: no-repeat;
  background-position: top middle;
  background-size: calc(100vh - 134px);
  mix-blend-mode: lighten;
  left: 0;
}

#bio {
  position: absolute;
  left: calc(36px + 30px);
  bottom: 28px;
  padding-right: 50px;
}

#bio:after {
  content: '';
  position: absolute;
  left: -30px;
  bottom: 7px;

  width: 11px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5.5' cy='5.5' r='1.5' fill='%23ECECEC'/%3E%3Cline y1='5.5' x2='5' y2='5.5' stroke='url(%23paint0_linear_729_112)'/%3E%3Cline x1='5.5' y1='11' x2='5.5' y2='6' stroke='url(%23paint1_linear_729_112)'/%3E%3Cline x1='11' y1='5.5' x2='6' y2='5.5' stroke='url(%23paint2_linear_729_112)'/%3E%3Cline x1='5.5' y1='2.18557e-08' x2='5.5' y2='5' stroke='url(%23paint3_linear_729_112)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_729_112' x1='0' y1='6.5' x2='5' y2='6.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_729_112' x1='6.5' y1='11' x2='6.5' y2='6' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_729_112' x1='11' y1='4.5' x2='6' y2='4.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_729_112' x1='4.5' y1='-2.18557e-08' x2='4.5' y2='5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

#bio:before {
  content: '';
  position: absolute;
  left: -25px;
  bottom: 25px;

  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, var(--gradient));
}



/* --- PORTFOLIO --- */

#assets::before {
  background-image: url(../img/bg/star5.png);
}

#illustration::before {
  background-image: url(../img/bg/star3.png);
  height: calc(100% - var(--bg-position) + 220px);
}

#assets, #illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork {
  position: relative;
  transition: var(--transition);
  columns: 3;
  gap: 0;
  width: 900px;
}

.artwork div {
  position: relative;
  width: 300px;
  padding: 5px;
  display: flex;
}

.artwork img {
  transition: var(--transition);
  filter: saturate(90%) brightness(60%) contrast(100%);
  width: 100%;
  z-index: -2;
}

.artwork div:hover img {
  filter: saturate(100%) brightness(90%) contrast(100%);
}

.artwork p {
  height: fit-content;
  position: absolute;
  padding: 35px 10px 15px 10px;
  bottom: 5px;
  width: calc(100% - 10px);
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
}

.artwork div:hover p {
  opacity: 1;
}

.artwork p:before {
  content: '';
  left: 0;
  bottom: 0;
  top: unset;
  height: 100%;
  width: 100%;
  z-index: -1;
  mask: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  opacity: 0.9;
  background-image: url(../img/bg/noise.gif);
  mix-blend-mode: darken;
  backdrop-filter: blur(7px);
  pointer-events: none;
}

.artwork a {
  color: var(--white);
}



/* --- IMAGE VIEWER --- */

.image-viewer {
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
}

.viewer-open .image-viewer {
  visibility: visible;
  opacity: 1;
}

.viewer-open, .mobile {
  overflow: hidden;
}

.nav-viewer {
  z-index: 111;
  bottom: 10px;
  width: 100vw;
  justify-content: center;
  transition: var(--transition);
}

.image-zoom {
  transition: var(--transition);
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  z-index: 110;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.image-zoom img {
  max-width: 100%;
  max-height: calc(100% - 100px);
  object-fit: contain;
  image-rendering: auto !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
  padding-bottom: var(--zoom-paragraph-height);
  transition: var(--transition);
}

.image-zoom p {
  padding: 10px 50px;
  text-align: center;
  z-index: 1;
  transition: var(--transition);
}

.change .image-zoom {
  filter: saturate(70%) brightness(50%) contrast(80%);
  opacity: 0;
}



/* --- INFO --- */

#info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#info::before {
  background-image: url(../img/bg/star7.png);
}

#info > p {
  max-width: 720px;
  width: 100%;
}

#extra-prices {
  display: flex;
  text-wrap: nowrap;
  flex-direction: column;
  padding: 4px 0;
}

#extra-prices div {
  display: flex;
  flex-direction: row;
  position: relative;
}

#extra-prices p {
  padding: 0;
  max-width: calc(100vw - 200px);
  white-space: pre-wrap;
}

#extra-prices p:first-child {
  width: 60px;
  text-align: end;
  margin-right: 21px;
}

#extra-prices p:last-child:before {
  content: "";
  margin: 9px;
  width: 1px;
  height: 1px;
  background: var(--white);
  position: absolute;
  left: 60px;
}

#pricelist {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

#pricelist tbody {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#pricelist tr {
  max-width: 435px;
  width: 100%;
  padding: 0px 50px 10px 50px;
  position: relative;
  margin-bottom: 20px;
}

#pricelist th {
  text-align: left;
  display: block;
  font-weight: normal;
  padding: 20px 0 10px;
  font-family: var(--font-link);
  letter-spacing: 0.2em;
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
}

#pricelist td {
  display: block;
  position: relative;
}

#pricelist td::before {
  content: "";
  margin: 9px;
  width: 1px;
  height: 1px;
  background: var(--white);
  position: absolute;
  left: -20px;
}

#pricelist tr + tr:before {
  content: "";
  width: 1px;
  height: 100%;
  background: linear-gradient(var(--gradient));
  position: absolute;
  left: -20px;
}



/* --- TOS --- */

#tos::before {
  background-image: url(../img/bg/star3.png);
}

#terms-of-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#terms-of-service dl {
  width: 100%;
  max-width: 700px;
  position: relative;
}

#terms-of-service dl:first-of-type {
  margin-top: -30px;
}

#terms-of-service dt {
  text-align: left;
  display: block;
  font-weight: normal;
  padding: 30px 0 10px;
  font-family: var(--font-link);
  letter-spacing: 0.2em;
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
}

#terms-of-service dd {
  display: block;
  position: relative;
  padding: 3px 0;
}

#terms-of-service dd::before {
  content: "";
  margin: 9px;
  width: 1px;
  height: 1px;
  background: var(--white);
  position: absolute;
  left: -20px;
}

#terms-of-service dl p {
  max-width: 700px;
  width: 100%;
  padding: 0;
  margin-top: 30px;
  text-align: right;
}



/* --- CONTACT --- */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact::before {
  background-image: url(../img/bg/star3.png);
  height: calc(100% - var(--bg-position) + 220px);
}

#contact p {
  max-width: 700px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  margin-top: 40px;
  position: relative;
  padding: 0 100px;
  transition: var(--transition);
}

form div {
  display: flex;
  padding: 10px 0;
  position: relative;
}

form div:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, var(--gradient));
  bottom: 10px;
  right: 0;
}

form div:last-of-type:before {
  right: unset;
  left: 0;
  width: calc(100% - 17px);
  background: linear-gradient(to right, var(--gradient));
}

form div:last-of-type:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0;

  width: 11px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5.5' cy='5.5' r='1.5' fill='%23ECECEC'/%3E%3Cline y1='5.5' x2='5' y2='5.5' stroke='url(%23paint0_linear_671_356)'/%3E%3Cline x1='5.5' y1='11' x2='5.5' y2='6' stroke='url(%23paint1_linear_671_356)'/%3E%3Cline x1='11' y1='5.5' x2='6' y2='5.5' stroke='url(%23paint2_linear_671_356)'/%3E%3Cline x1='5.5' y1='2.18557e-08' x2='5.5' y2='5' stroke='url(%23paint3_linear_671_356)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_671_356' x1='0' y1='6.5' x2='5' y2='6.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_671_356' x1='6.5' y1='11' x2='6.5' y2='6' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_671_356' x1='11' y1='4.5' x2='6' y2='4.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_671_356' x1='4.5' y1='-2.18557e-08' x2='4.5' y2='5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ECECEC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

::-webkit-resizer {
  background: none;
}

label {
  text-align: left;
  display: block;
  font-weight: normal;
  font-family: var(--font-link);
  letter-spacing: 0.2em;
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
  width: 85px;
  text-align: right;
  margin-right: 15px;
  position: absolute;
  left: -100px;
}

input, textarea {
  color: var(--WEB-light);
  background-color: transparent;
  border: none;
  transition: var(--WEB-transition);
  position: relative;
  width: 100%;
  max-width: 700px;

  color: var(--white);
  font-family: var(--font);
  letter-spacing: 0.05em;
  line-height: 1.4em;
  font-size: 13px;
  font-weight: 300;
}

textarea {
  height: 200px;
  min-width: 100%;
  min-height: 18px;
}

input:focus, textarea:focus {
  outline: none;
  border: none;
}

input[type="submit"] {
  color: var(--gray);
  font-family: var(--font-link);
  transition: var(--transition);
  letter-spacing: 0.2em;
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
  width: 100px;
  padding: 10px 15px 10px 0;
  text-align: right;
  left: -100px;
}

input[type="submit"]:hover {
  color: var(--white);
  fill: var(--white);
  stroke: var(--white);
  filter: drop-shadow(var(--glow)) drop-shadow(var(--glow));
}

input::placeholder, textarea::placeholder {
  transition: var(--transition);
  color: transparent;
}

input.required::placeholder, textarea.required::placeholder {
  color: revert;
}



/* --- 404 --- */

#error::before {
  background-image: url(../img/bg/star3.png);
}

#error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}



/* --- MOBILE --- */

.nav-mobile {
  display: inline-flex;
  z-index: 103;
  transition: var(--transition);
}

#menu {
  display: none;
  z-index: 0;
}

@media only screen and (max-width: 1350px) {
  #pricelist tbody {
    flex-wrap: wrap;
    max-width: 1000px;
  }

  #pricelist tr:last-child:before {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .artwork {
    width: 600px;
    columns: 2;
  }

  #pricelist tbody {
    max-width: 335px;
  }

  #pricelist tr {
    padding: 0;
  }

  #pricelist tr + tr:before {
    content: "";
    display: block !important;
    width: calc(100% + 40px);
    height: 1px;
    background: linear-gradient(to left, var(--gradient));
    position: absolute;
    left: -20px;
  }

  .nav-viewer, .image-zoom p {
    margin-bottom: 50px
  }

  .image-zoom img {
    max-height: calc(100% - 200px);
  }
}

@media only screen and (max-width: 700px) {
  * {
    cursor: auto;
  }

  a, .artwork div {
    cursor: pointer;
  }

  #border {
    opacity: 0;
  }

  .mobile header:before {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    pointer-events: all;
  }

  .nav-desktop {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    top: 100px;
    left: 0;
    margin-left: 20px;
    position: absolute;
  }

  .nav-top .separator, footer .separator {
    display: none;
  }
  
  .nav-side {
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    justify-content: flex-end;
    bottom: 100px;
  }

  .mobile .nav-side, .mobile .nav-desktop, .mobile #noise-cover {
    visibility: visible;
    opacity: 1;
  }

  #menu {
    display: block;
  }

  #menu.change {
    color: transparent;
  }

  .nav-side a {
    color: var(--gray);
  }

  .nav-side a.active, .nav-side a:hover {
    color: var(--white);
  }

  .nav-progress {
    display: none;
  }

  .artwork {
    width: 100%;
    columns: 2;
  }

  .artwork div {
    width: 100%;
  }

  form {
    padding-right: 0;
  }

  .links {
    flex-wrap: wrap;
    margin: 20px 40px;
    margin-top: 0;
  }

  .links div:first-child:before {
    content: "";
    width: calc(100% - 50px);
    margin: 0 25px;
    height: 1px;
    background: linear-gradient(to right, var(--gradient));
    position: absolute;
    left: 0px;
    top: -10px;
  }

  .links div:last-child:before {
    content: "";
    width: calc(100% - 50px);
    margin: 0 25px;
    height: 1px;
    background: linear-gradient(to left, var(--gradient));
    position: absolute;
    left: 0px;
    bottom: -10px;
  }
}

@media only screen and (max-width: 540px) {
  .artwork {
    padding: 0 25px;
    columns: 1;
  }
}