@import url(https://fonts.googleapis.com/css?family=Chakra+Petch);

/* body */

:root {
  --white: #E0E0E0;
  --black: #1D1D1D;
  --gray: #818181;
  --font: "Chakra Petch";
  --transition: all 700ms cubic-bezier(0.40, -0.3, 0, 0.90);
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--white);
  color: var(--black);
  text-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

.border-top {
  top: 0;
  left: 0;
  height: 20px;
  width: 150%;
  position: fixed;
  background-color: var(--white);
  z-index: 90;
}

.border-right {
  top: 0;
  right: 0;
  height: 150%;
  width: 20px;
  position: fixed;
  background-color: var(--white);
  z-index: 90;
}

.border-bottom {
  bottom: 0;
  left: 0;
  height: 20px;
  width: 150%;
  position: fixed;
  background-color: var(--white);
  z-index: 90;
}

.border-left {
  top: 0;
  left: 0;
  height: 150%;
  width: 20px;
  position: fixed;
  background-color: var(--white);
  z-index: 90;
}

.noise {
    position: fixed;
    pointer-events: none;
    animation: noise 1s steps(4) infinite;
    background-image: url(../img/bg/noise.png);
    height: 250%;
    left: -75%;
    top: -75%;
    width: 250%;
    z-index: -100;
    image-rendering: pixelated;
}

@keyframes noise {
    0% {transform: rotate(0deg) translate(0%, 0%);}
    25% {transform: rotate(270deg) translate(10%, -5%);}
    50% {transform: rotate(180deg) translate(5%, 5%);}
    75% {transform: rotate(90deg) translate(-5%, 10%);}
    100% {transform: rotate(360deg) translate(0%, 0%);}
}

body {
  color: var(--white);
  font-family: var(--font);
  background-color: var(--black);
  letter-spacing: 3px;
  font-size: 13px;
}

p {
  text-transform: lowercase;
  margin: 0;
}

/* navigation menus */

nav {
  position: fixed;
  top: 20px;
  z-index: 98;
  mix-blend-mode: difference;
  filter: contrast(2);
  display: flex;
  align-items: center;

}

.nav-commissions {
  left: 20px;
  margin: 5px 0 0 5px;
}

.nav-main {
  right: 20px;
  margin: 5px 5px 0 0;
}

.nav-main a, .nav-commissions a {
  padding: 10px 5px;
}

a {
  color: var(--white);
  font-family: var(--font);
  text-decoration: none;
  text-transform: lowercase;
  transition: var(--transition);
}

a:hover {
  color: var(--gray);
}

/* main */

main {
  margin: 20px;
  overflow: hidden;
}

.home, .bg, .work, .about, .image-viewer {
  background-position: top;
  background-size: auto 100vh;
  image-rendering: pixelated;
}

/* home */

.home, .home .bg {
  width: 100%;
  position: relative;
  height: calc(100vh - 40px);
}

#home-bg {
    background-image: url(../img/bg/star1.png);
    position: absolute;
    z-index: -99;
    background-repeat: no-repeat;
}

#intro {
  bottom: 10px;
  left: 0;
  right: 0;
  position: absolute;
  padding: 0 10px;
  min-height: 100px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.scramble {
  color: var(--gray);
}

.divider {
  height: 20px;
}

/* work */

.work, .work .bg {
  width: 100%;
  position: relative;
  min-height: calc(100vh - 40px);
}

#work-bg {
    background-image: url(../img/bg/star2.png);
    position: absolute;
    z-index: -99;
    min-height: -webkit-fill-available;
    background-repeat: repeat;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.menu-child, .menu-main, .menu-wrap {
  display: flex;
}

.menu-child {
  padding: 0 5px;
}

.menu-arrow {
  padding: 0 2.5px 0 5px;
  transition: var(--transition);
}

.menu-wrap {
  overflow: hidden;
  max-width: 0;
  padding: 0;
  transition: var(--transition);
}

.menu.open .menu-wrap {
  max-width: 175px;
}

.menu.open .menu-arrow {
  transform: rotate(-180deg);
}

/* artwork */

.artwork {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  transition: var(--transition);
  top: 10px;
  height: 0;
  opacity: 0;
}

.artwork.active{
  height: auto;
  opacity: 1;
}

.artwork.active .image-preview{
  display: block;
}

.artwork .image-preview{
  display: none;
}

.image-preview {
  transition: var(--transition);
  filter: saturate(70%) brightness(45%) contrast(75%);
  display: block;
  image-rendering: auto !important;
}

.image-preview:hover {
  filter: none;
}

.column-small {
  column-count: 2;
  column-gap: 0;
}

.column-small img {
  max-width: 295px;
  padding: 5px;
}

.column-right img {
  max-width: 300px;
  padding: 5px;
}

.column-big img {
  max-width: 600px;
  padding: 5px;
}

.column-center {
  column-count: 2;
  column-gap: 0;
}

.column-center img {
  max-width: 450px;
  padding: 5px;
}

/* about */

.about, .about .bg {
  width: 100%;
  position: relative;
  height: calc(100vh - 20px);
}

#about-bg {
    background-image: url(../img/bg/star3.png);
    position: absolute;
    z-index: -99;
    height: 200vh;
    background-repeat: repeat;
}

.self {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.self img {
  max-width: 500px;
  filter: brightness(90%);
}

.bio {
  padding: 0 10px;
  text-align: center;
}

/* image viewer */

.image-viewer {
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('../img/bg/bg3.png');
}

.image-viewer.viewer-open {
  visibility: visible;
  opacity: 1;
}

.image-zoom {
  transition: var(--transition);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  object-fit: contain;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  image-rendering: auto !important;
}

.image-zoom.change {
  filter: saturate(70%) brightness(45%) contrast(75%);
  opacity: 0;
}

.image-zoom, .viewer-close, .viewer-previous, .viewer-next {
  display: flex;
}

.viewer-close, .viewer-next {
  justify-content: flex-end;
}

.viewer-previous, .viewer-next {
  width: 50vw;
  height: 100vh;
  align-items: center;
  z-index: 1;
}

.viewer-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  margin: 5px 10px 0 0;
  padding:10px;
}

.nav-viewer {
  display: flex;
}

.viewer-previous a, .viewer-next a {
  padding: 10px;
}

.viewer-previous a {
  margin-left: 10px;
}

.viewer-next a {
  margin-right: 10px;
}

.copyrights {
  position: fixed;
  bottom: 15px;
  left: 10px;
  z-index: 1;
}

/* custom cursor */

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  background-color: var(--white);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: background-color 700ms, width 700ms, height 700ms cubic-bezier(0.40, -0.3, 0, 0.90);
}

.cursor.hover {
  background-color: var(--gray);
  width: 20px;
  height: 20px;
}

/* mobile responsive */

@media only screen and (max-width: 960px) {
  .column-center {
    column-count: 1;
  }

  .column-small {
    column-count: 1;
  }

  .column-small img, .column-center img, .column-right img {
    max-width: 600px;
  }

  .menu {
    flex-direction: column;
    margin-top: 40px;
  }

  .menu-wrap {
    flex-direction: column;
    max-width: fit-content;
    max-height: 0px;
    margin-top: 5px;
  }

  .menu-child, .menu-main, .menu-wrap {
    align-items: center;
  }

  .menu.open .menu-wrap {
    max-height: 55px;
  }

  .menu-child {
    padding: 5px;
  }

  .menu.open .menu-arrow {
    transform: rotate(-90deg);
  }
}

@media only screen and (max-width: 650px) {
  * {
    cursor: auto;
  }

  a, .image-preview {
    cursor: pointer;
  }
  
  .menu-arrow, .nav-main {
    cursor: default;
  }

  .column-small {
    column-count: 1;
  }

  .column-big img, .column-small img, .column-center img, .column-right img {
    max-width: calc(100% - 10px);
  }
}

@media only screen and (max-width: 540px) {
  .self img {
    max-width: 100%;
  }
}

@media only screen and (max-height: 670px) {
  .self img {
    max-height: 90%;
  }
}

@media only screen and (max-height: 670px) and (max-width: 850px) {
  .self img {
    max-height: 80%;
  }
}

@media only screen and (max-height: 670px) and (max-width: 465px) {
  .self img {
    max-height: 70%;
  }
}